// orders page styles

.orders {

  &__body {
    padding-bottom: 36px;
    position: relative;
  }

  &__body-top {
    display: none;

    @include media-extra-large() {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 27px;
      padding-bottom: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

    &__top-row-btn-group {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2,max-content);
      gap: 20px;
    }

    &__body-top-btn-group {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: max-content;
        align-items: center;
        gap: 16px;
    }

    &__create-order-btn {
      font-weight: 600;
font-size: 16px;
line-height: 18px;
padding: 8px 16px;
width: 90px;
    }

    
    &__pagination {
      padding-left: 20px;
    }

    @media (min-width:1200px) {
      &__pagination {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    }
  }