<div class="site-section__table-wrapper document-flow-table__table-wrapper" x-show="toggleView === 'tableList'">
    <nav class="site-section__table document-flow-table__table">
      <ul role="list" class="site-section__table-list site-section__table-caption-list document-flow-table__table-list document-flow-table__table-caption-list">
        <li class="site-section__table-list-item site-section__table-caption-list-item document-flow-table__table-list-item document-flow-table__table-list-caption-item">
            Название
        </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item document-flow-table__table-list-item document-flow-table__table-list-caption-item">
            <button class="site-section__table-sort-btn site-section__table-data-sort-btn" type="button">
                Дата
                <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 13L4 16M4 16L7 13M4 16V4M16 14C16 15.1046 15.1046 16 14 16C12.8954 16 12 15.1046 12 14C12 12.8954 12.8954 12 14 12C15.1046 12 16 12.8954 16 14ZM16 14V17C16 17.5304 15.7893 18.0391 15.4142 18.4142C15.0391 18.7893 14.5304 19 14 19H12.5M14 1C14.5304 1 15.0391 1.21071 15.4142 1.58579C15.7893 1.96086 16 2.46957 16 3V6C16 6.53043 15.7893 7.03914 15.4142 7.41421C15.0391 7.78929 14.5304 8 14 8C13.4696 8 12.9609 7.78929 12.5858 7.41421C12.2107 7.03914 12 6.53043 12 6V3C12 2.46957 12.2107 1.96086 12.5858 1.58579C12.9609 1.21071 13.4696 1 14 1Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>                
              </button>
          </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item document-flow-table__table-list-item document-flow-table__table-list-caption-item">
            Контрагент
        </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item document-flow-table__table-list-item document-flow-table__table-list-caption-item">
            Организация
        </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item document-flow-table__table-list-item document-flow-table__table-list-caption-item">
            Тип файла
        </li>
        <li class="site-section__table-list-item site-section__table-list-caption-item document-flow-table__table-list-item document-flow-table__table-list-caption-item">
            Ответственный
        </li>
      </ul>
      <template x-for="file in files" :key="file.name">
      <ul role="list" class="site-section__table-list document-flow-table__table-list">
        <li class="site-section__table-list-item document-flow-table__table-list-item" x-text="file.name">
        </li>
        <li class="site-section__table-list-item document-flow-table__table-list-item">
            <time datetime="12 окт 2022" class="document-flow-table__datetime">12 окт 2022</time>
         </li>
         <li class="site-section__table-list-item document-flow-table__table-list-item">
            УЗТМ
         </li>
         <li class="site-section__table-list-item document-flow-table__table-list-item">
            Моя компания
         </li>
         <li class="site-section__table-list-item document-flow-table__table-list-item">
            <svg class="document-flow-table__folder-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 4H9L12 7H19C19.5304 7 20.0391 7.21071 20.4142 7.58579C20.7893 7.96086 21 8.46957 21 9V17C21 17.5304 20.7893 18.0391 20.4142 18.4142C20.0391 18.7893 19.5304 19 19 19H5C4.46957 19 3.96086 18.7893 3.58579 18.4142C3.21071 18.0391 3 17.5304 3 17V6C3 5.46957 3.21071 4.96086 3.58579 4.58579C3.96086 4.21071 4.46957 4 5 4Z" stroke="#859AB9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                
         </li>
        <li class="site-section__table-list-item document-flow-table__table-list-item">
            <div class="site-section__resp-wrapper document-flow-table__resp-wrapper">
                <img src="/images/header-avatar-placeholder.svg" alt="responsible face avatar" loading="lazy" decoding="async" width="24" height="24">
                <span class="document-flow-table__resp-title">
                  vtr@uralreduktor.ru
                </span>
              </div> 
        </li>
      </ul>
    </template>
    </nav>
</div>